@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #2b2d42;
    font-weight: 700;
    margin: 0 0 10px;
}

a {
    color: #2b2d42;
    font-weight: 500;
    -webkit-transition: 0.2s color;
    transition: 0.2s color;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}
.hero {
    /* height: calc(100vh - 122px); */
    height: auto;
}
